<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruifeng.mapper.CredentialMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ruifeng.pojo.CredentialPojo" id="credentialMap">
        <result column="credential_id"  property="credentialId" />
        <result column="user_id"  property="userId" />
        <result column="credential_name"  property="credentialName" />
        <result column="credential_validity_begin"  property="credentialValidityBegin" />
        <result column="credential_validity_end"  property="credentialValidityEnd" />
        <result column="credential_url"  property="credentialUrl" />
    </resultMap>
    
      <sql id="BaseList">
     		     			credential_id  , 
     		     			user_id  , 
     		     			credential_name  , 
     		     			credential_validity_begin  , 
     		     			credential_validity_end  , 
     		     			credential_url 
     		 		 </sql>
    
</mapper>