<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruifeng.mapper.DictMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ruifeng.pojo.DictPojo" id="dictMap">
        <result column="dict_id"  property="dictId" />
        <result column="dict_code"  property="dictCode" />
        <result column="dict_name"  property="dictName" />
        <result column="sort"  property="sort" />
        <result column="create_by"  property="createBy" />
        <result column="create_time"  property="createTime" />
        <result column="update_by"  property="updateBy" />
        <result column="update_time"  property="updateTime" />
        <result column="del_flg"  property="delFlg" />
        <result column="remark"  property="remark" />
    </resultMap>
    
      <sql id="BaseList">
     		     			dict_id  , 
     		     			dict_code  , 
     		     			dict_name  , 
     		     			sort  , 
     		     			create_by  , 
     		     			create_time  , 
     		     			update_by  , 
     		     			update_time  , 
     		     			del_flg  , 
     		     			remark 
     		 		 </sql>
    
</mapper>