<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruifeng.mapper.MenuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ruifeng.pojo.MenuPojo" id="menuMap">
        <result column="menu_id"  property="menuId" />
        <result column="menu_name"  property="menuName" />
        <result column="p_id"  property="pId" />
        <result column="url"  property="url" />
        <result column="menu_type"  property="menuType" />
        <result column="icon"  property="icon" />
        <result column="sort"  property="sort" />
        <result column="create_time"  property="createTime" />
        <result column="create_by"  property="createBy" />
        <result column="update_time"  property="updateTime" />
        <result column="update_by"  property="updateBy" />
        <result column="del_flg"  property="delFlg" />
        <result column="remark"  property="remark" />
    </resultMap>
    
      <sql id="BaseList">
     		     			menu_id  , 
     		     			menu_name  , 
     		     			p_id  , 
     		     			url  , 
     		     			menu_type  , 
     		     			icon  , 
     		     			sort  , 
     		     			create_time  , 
     		     			create_by  , 
     		     			update_time  , 
     		     			update_by  , 
     		     			del_flg  , 
     		     			remark 
     		 		 </sql>
    
</mapper>