<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruifeng.mapper.ParamMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ruifeng.pojo.ParamPojo" id="paramMap">
        <result column="param_id"  property="paramId" />
        <result column="param_code"  property="paramCode" />
        <result column="param_value"  property="paramValue" />
        <result column="param_name"  property="paramName" />
        <result column="create_by"  property="createBy" />
        <result column="create_time"  property="createTime" />
        <result column="update_by"  property="updateBy" />
        <result column="update_time"  property="updateTime" />
        <result column="remark"  property="remark" />
        <result column="del_flg"  property="delFlg" />
    </resultMap>
    
      <sql id="BaseList">
     		     			param_id  , 
     		     			param_code  , 
     		     			param_value  , 
     		     			param_name  , 
     		     			create_by  , 
     		     			create_time  , 
     		     			update_by  , 
     		     			update_time  , 
     		     			remark  , 
     		     			del_flg 
     		 		 </sql>
    
</mapper>