<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BasePageMapper">
   <sql id="pageOpen">
       select * from (
   </sql>

    <sql id="pageClose">
       ) eeee limit

        <choose>
            <when test="pageNum &lt;= 1">
                0,
            </when>
            <otherwise>
                ${(pageNum - 1) * pageSize},
            </otherwise>
        </choose>
        #{pageSize}
   </sql>

</mapper>