<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruifeng.mapper.CmyMapper">
    
    <resultMap type="com.ruifeng.pojo.CmyDemo" id="cmyDemo">
    	<id     property="id"      column="id"      />
        <result property="name"    column="name"    />
    </resultMap>
    
    <select id="getById" resultType="com.ruifeng.pojo.CmyDemo">
        select *
		from cmy_demo where id=1
    </select>

    <insert id="insert" >
        insert into cmy_demo (
		name
        )values(
			'ssss'
		)
    </insert>
    <select id="queryPage" parameterType="com.ruifeng.pojo.CmyDemo" resultMap="cmyDemo">
      <include refid="BasePageMapper.pageOpen"/>
        SELECT id,name FROM cmy_demo WHERE (name = #{name})
        <include refid="BasePageMapper.pageClose"/>
    </select>
    <select id="getCount" parameterType="com.ruifeng.pojo.CmyDemo" resultType="java.lang.Long">
        SELECT count(1) FROM cmy_demo WHERE (name = #{name})

    </select>

</mapper>