<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruifeng.mapper.DangerMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ruifeng.pojo.DangerPojo" id="dangerMap">
        <result column="id"  property="id" />
        <result column="code"  property="code" />
        <result column="company_id"  property="companyId" />
        <result column="name"  property="name" />
        <result column="harm_factor"  property="harmFactor" />
        <result column="possibility"  property="possibility" />
        <result column="seriousness"  property="seriousness" />
        <result column="del_flg"  property="delFlg" />
        <result column="remark"  property="remark" />
        <result column="create_by"  property="createBy" />
        <result column="create_time"  property="createTime" />
        <result column="update_by"  property="updateBy" />
        <result column="update_time"  property="updateTime" />
    </resultMap>
    
	<sql id="BaseList">
		id,
		code,
		company_id,
		name,
		harm_factor,
		possibility,
		seriousness,
		del_flg,
		remark,
		create_by,
		create_time,
		update_by,
		update_time
	</sql>
    
</mapper>