<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruifeng.mapper.GpsMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ruifeng.pojo.GpsPojo" id="gpsMap">
        <result column="id"  property="id" />
        <result column="type"  property="type" />
        <result column="object_id"  property="objectId" />
        <result column="longitude"  property="longitude" />
        <result column="latitude"  property="latitude" />
        <result column="del_flg"  property="delFlg" />
        <result column="remark"  property="remark" />
        <result column="create_by"  property="createBy" />
        <result column="create_time"  property="createTime" />
        <result column="update_by"  property="updateBy" />
        <result column="update_time"  property="updateTime" />
    </resultMap>
    
	<sql id="BaseList">
		id,
		type,
		object_id,
		longitude,
		latitude,
		del_flg,
		remark,
		create_by,
		create_time,
		update_by,
		update_time
	</sql>
    
</mapper>