<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruifeng.mapper.UrgentPlanMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ruifeng.pojo.UrgentPlanPojo" id="urgentPlanMap">
        <result column="plan_id"  property="planId" />
        <result column="cmy_id"  property="cmyId" />
        <result column="plan_name"  property="planName" />
        <result column="plan_content"  property="planContent" />
        <result column="person"  property="person" />
        <result column="phone"  property="phone" />
        <result column="CODE"  property="code" />
        <result column="mat_code"  property="matCode" />
        <result column="remark"  property="remark" />
        <result column="create_time"  property="createTime" />
        <result column="create_by"  property="createBy" />
        <result column="update_time"  property="updateTime" />
        <result column="update_by"  property="updateBy" />
        <result column="del_flg"  property="delFlg" />
    </resultMap>
    
      <sql id="BaseList">
     		     			plan_id  , 
     		     			cmy_id  , 
     		     			plan_name  , 
     		     			plan_content  , 
     		     			person  , 
     		     			phone  , 
     		     			CODE  , 
     		     			mat_code  , 
     		     			remark  , 
     		     			create_time  , 
     		     			create_by  , 
     		     			update_time  , 
     		     			update_by  , 
     		     			del_flg 
     		 		 </sql>
    
</mapper>